*{
    background-color: rgb(185,200,169);
}
#home{
    border: 1px solid red;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3,8%);
    justify-content: end;
    align-items: center;
    text-decoration: none;

}
a{
    text-decoration: none;
    color:rgb(82,91,80) ;
}