*{
    background-color: rgb(185,200,169);
    color:rgb(82,91,80) ;
}
#total{
    border: 1px solid rgb(15, 15, 15);
    width: 25%;
    height: 50px;
    display: grid;
    margin-left: 70%;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
#getDishes{
    margin-top: 50px;
    border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(4,22%);
    justify-content: space-between;
    
}
#getDishes>div{
    border: 1px solid rgb(82,91,80);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}
img{
    height: 250px;
    width: 100%;
}